:root{
    --buttonbg: rgba(255, 255, 255, 0.70);
}

article button{
    background-position: center !important;
    font-size: medium;
    text-shadow: 0px 0px 5px white;
}
#pl_badwater {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_badwater.jpg');
}

#pl_cactuscanyon {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_cactuscanyon.jpg');
}

#pl_corruption {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_corruption.jpg');
}

#pl_frontier_final {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_frontier_final.jpg');
}

#pl_millstone_event {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_millstone_event.jpg');
}

#pl_precipice_event_final {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_precipice_event_final.jpg');
}

#pl_spineyard {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_spineyard.jpg');
}

#pl_venice {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_venice.jpg');
}

#pl_barnblitz {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_barnblitz.jpg');
}

#pl_camber {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_camber.jpg');
}

#pl_embargo {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_embargo.jpg');
}

#pl_frostcliff {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_frostcliff.jpg');
}

#pl_odyssey {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_odyssey.jpg');
}

#pl_rumble_event {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_rumble_event.jpg');
}

#pl_swiftwater_final1 {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_swiftwater_final1.jpg');
}

#pl_wutville_event {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_wutville_event.jpg');
}

#pl_bloodwater {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_bloodwater.jpg');
}

#pl_cashworks {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_cashworks.jpg');
}

#pl_emerge {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_emerge.jpg');
}

#pl_goldrush {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_goldrush.jpg');
}

#pl_patagonia {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_patagonia.jpg');
}

#pl_rumford_event {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_rumford_event.jpg');
}

#pl_terror_event {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_terror_event.jpg');
}

#pl_borneo {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_borneo.jpg');
}

#pl_chilly {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_chilly.jpg');
}

#pl_enclosure_final {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_enclosure_final.jpg');
}

#pl_hasslecastle {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_hasslecastle.jpg');
}

#pl_phoenix {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_phoenix.jpg');
}

#pl_sludgepit_event {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_sludgepit_event.jpg');
}

#pl_thundermountain {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_thundermountain.jpg');
}

#pl_breadspace {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_breadspace.jpg');
}

#pl_coal_event {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_coal_event.jpg');
}

#pl_fifthcurve_event {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_fifthcurve_event.jpg');
}

#pl_hoodoo_final {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_hoodoo_final.jpg');
}

#pl_pier {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_pier.jpg');
}

#pl_snowycoast {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_snowycoast.jpg');
}

#pl_upward {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/pl/pl_upward.jpg');
}
#cp_5gorge {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_5gorge.jpg');
}
#cp_carrier {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_carrier.jpg');
}
#cp_snowplow {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_snowplow.jpg');
}
#cp_freaky_fair {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_freaky_fair.jpg');
}
#cp_spookeyridge {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_spookeyridge.jpg');
}
#cp_snakewater_final1 {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_snakewater_final1.jpg');
}
#cp_freight_final1 {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_freight_final1.jpg');
}
#cp_coldfront {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_coldfront.jpg');
}
#cp_manor_event {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_manor_event.jpg');
}
#cp_orange_x3{
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_orange_x3.jpg');
}
#cp_gorge_event{
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_gorge_event.jpg');
}
#cp_lavapit_final {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_lavapit_final.jpg');
}
#cp_junction_final {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_junction_final.jpg');
}
#cp_standin_final {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_standin_final.jpg');
}
#cp_cloak {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_cloak.jpg');
}
#cp_frostwatch {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_frostwatch.jpg');
}
#cp_degrootkeep {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_degrootkeep.jpg');
}
#cp_darkmarsh{
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_darkmarsh.jpg');
}   
#cp_gorge {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_gorge.jpg');
}
#cp_metalworks {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_metalworks.jpg');
}
#cp_steel {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_steel.jpg');
}
#cp_altitude {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_altitude.jpg');
}
#cp_degrootkeep_rats {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_degrootkeep_rats.jpg');
}
#cp_granary {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_granary.jpg');
}
#cp_mossrock {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_mossrock.jpg');
}
#cp_sulfur {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_sulfur.jpg');
}
#cp_ambush_event {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_ambush_event.jpg');
}
#cp_dustbowl {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_dustbowl.jpg');
}
#cp_gravelpit {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_gravelpit.jpg');
}
#cp_mountainlab {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_mountainlab.jpg');
}
#cp_sunshine_event {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_sunshine_event.jpg');
}
#cp_badlands {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_badlands.jpg');
}
#cp_egypt_final {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_egypt_final.jpg');
}
#cp_gravelpit_snowy {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_gravelpit_snowy.jpg');
}
#cp_overgrown {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_overgrown.jpg');
}
#cp_sunshine {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_sunshine.jpg');
}
#cp_brew {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_brew.jpg');
}
#cp_fastlane {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_fastlane.jpg');
}
#cp_gullywash_final1 {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_gullywash_final1.jpg');
}
#cp_powerhouse {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_powerhouse.jpg');
}
#cp_vanguard {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_vanguard.jpg');
}
#cp_fortezza {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_fortezza.jpg');
}
#cp_hadal {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_hadal.jpg');
}
#cp_process_final {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_process_final.jpg');
}
#cp_well {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_well.jpg');
}
#cp_foundry {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_foundry.jpg');
}
#cp_hardwood_final {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_hardwood_final.jpg');
}
#cp_reckoner {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_reckoner.jpg');
}
#cp_yukon_final {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_yukon_final.jpg');
}
#cp_burghausen {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_burghausen.jpg');
}
#cp_canaveral_5cp {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_canaveral_5cp.jpg');
}
#cp_mercenarypark {
    background: radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/cp/cp_mercenarypark.jpg');
}

#koth_los_muertos
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_los_muertos.jpg');
}

#koth_suijin
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_suijin.jpg');
}

#koth_lazarus
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_lazarus.jpg');
}

#koth_lakeside_final
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_lakeside_final.jpg');
}

#koth_slaughter_event
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_slaughter_event.jpg');
}

#koth_overcast_final
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_overcast_final.jpg');
}

#koth_undergrove_event
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_undergrove_event.jpg');
}

#koth_highpass
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_highpass.jpg');
}

#koth_viaduct
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_viaduct.jpg');
}

#koth_maple_ridge_event
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_maple_ridge_event.jpg');
}

#koth_sharkbay
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_sharkbay.jpg');
}

#koth_bagel_event
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_bagel_event.jpg');
}

#koth_cachoeira
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_cachoeira.jpg');
}

#koth_snowtower
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_snowtower.jpg');
}

#koth_cascade
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_cascade.jpg');
}

#koth_viaduct_event
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_viaduct_event.jpg');
}

#koth_brazil
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_brazil.jpg');
}

#koth_synthetic_event
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_synthetic_event.jpg');
}

#koth_megaton
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_megaton.jpg');
}

#koth_megalo
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_megalo.jpg');
}

#koth_slasher
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_slasher.jpg');
}

#koth_harvest_final
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_harvest_final.jpg');
}

#koth_lakeside_event
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_lakeside_event.jpg');
}

#koth_slime
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_slime.jpg');
}

#koth_moonshine_event
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_moonshine_event.jpg');
}

#koth_harvest_event
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_harvest_event.jpg');
}

#koth_sawmill
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_sawmill.jpg');
}

#koth_probed
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_probed.jpg');
}

#koth_krampus
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_krampus.jpg');
}

#koth_nucleus
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_nucleus.jpg');
}

#koth_badlands
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_badlands.jpg');
}

#koth_rotunda
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_rotunda.jpg');
}

#koth_sawmill_event
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_sawmill_event.jpg');
}

#koth_toxic
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_toxic.jpg');
}

#koth_king
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/koth/koth_king.jpg');
}

#mvm_mannhattan
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/mvm/mvm_mannhattan.jpg');
}

#mvm_rottenburg
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/mvm/mvm_rottenburg.jpg');
}

#mvm_ghost_town
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/mvm/mvm_ghost_town.jpg');
}

#mvm_mannworks
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/mvm/mvm_mannworks.jpg');
}

#mvm_coaltown
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/mvm/mvm_coaltown.jpg');
}

#mvm_bigrock
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/mvm/mvm_bigrock.jpg');
}

#mvm_decoy
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/mvm/mvm_decoy.jpg');
}

#ctf_well
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_well.jpg');
}

#ctf_frosty
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_frosty.jpg');
}

#ctf_gorge
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_gorge.jpg');
}

#ctf_turbine
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_turbine.jpg');
}

#ctf_hellfire
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_hellfire.jpg');
}

#ctf_crasher
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_crasher.jpg');
}

#ctf_penguin_peak
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_penguin_peak.jpg');
}

#ctf_doublecross_snowy
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_doublecross_snowy.jpg');
}

#ctf_doublecross
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_doublecross.jpg');
}

#ctf_sawmill
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_sawmill.jpg');
}

#ctf_applejack
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_applejack.jpg');
}

#ctf_haarp
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_haarp.jpg');
}

#ctf_turbine_winter
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_turbine_winter.jpg');
}

#ctf_helltrain_event
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_helltrain_event.jpg');
}

#ctf_foundry
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_foundry.jpg');
}

#ctf_2fort_invasion
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_2fort_invasion.jpg');
}

#ctf_pelican_peak
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_pelican_peak.jpg');
}

#ctf_snowfall_final
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_snowfall_final.jpg');
}

#ctf_2fort
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_2fort.jpg');
}

#ctf_landfall
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_landfall.jpg');
}

#ctf_thundermountain
{
	background:radial-gradient(var(--buttonbg), rgba(0, 0, 0, 0)), url('assets/images/ctf/ctf_thundermountain.jpg');
}